html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    animation: fadein 1.2s;
    -moz-animation: fadein 1.2s; /* Firefox */
    -webkit-animation: fadein 1.2s; /* Safari and Chrome */
    -o-animation: fadein 1.2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

* {
    margin: 0;
    padding: 0;
}

/* Head Section */

header {
    padding: 50px;
    background-color: rgb(65, 55, 44);
}

header a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px;
}

header a:hover{
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    font-weight: 900;
}

i {
    color: white;
    font-size: 25px;
    float: right;
    letter-spacing: 1em;
}

header img {
    width: 40vh;
    padding-top: 4vh;
}

.head {
    display: inline-flex;
    font-size: 11px;
    line-height: 30px;
}

.head h1 {
    padding-top: 80px;
    padding-left: 15px;
    color: white;
    font-size: 23px;
}

.head p {
    font-size: 17px;
}

nav    {
    float: right;
    padding-top: 100px;
}

nav a {
    padding: 10px;
    font-size: 15px;
}

@media only screen and (min-width:510px) and (max-width:1100px) {
    /* For tablets: */
    header {
        padding: 20px;
        height: 60vh;
        text-align: center;
    }
    header a {
        line-height: 2em;
        padding-right: 40px;
        font-size: 22px;
    }
    header i {
        font-size: 35px;
    }
    header img {
        padding-left: 10px;
    }
    .head {
        display: block;
        padding-top: 20px;
    }
    .head h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 35px;
    }
    nav    {
        padding-top: 30px;
        text-align: center;
        padding-right: 170px;
    }
    .head p {
        padding-top: 10px;
        font-size: 25px;
    }
    nav a {
        padding: 10px;
        text-align: center;
    }
  }

  @media only screen   
  and (min-device-width : 300px)   
  and (max-device-width : 390px)  {
    /* For mobile phones: */
    header {
        height: 80vh;
        padding: 5px;
    }
    header a i {
        padding-left: 24px;
    }
    header a {
        line-height: 2em;
        font-size: 15px;
        display: inline-block;
    }
    header img {
        padding-left: 0;
    }
    .head {
        display: block;
        padding-top: 20px;
        text-align: center;
        line-height: 20px;
    }
    .head h1 {
        padding-top: 20px;
        padding-left: 0px;
        font-size: 20px;
    }
    nav    {
        padding-top: 20px;
        text-align: center;
    }
    p {
        padding-top: 10px;
        font-size: 15px;
    }
    nav a {
        padding: 10px;
        font-size: 15px;
    }
  }
  
  @media only screen   
  and (min-device-width : 391px)   
  and (max-device-width : 490px) {
    /* For mobile phones: */
    header {
        height: 70vh;
        padding: 0;
    }
    header i {
        padding-top: 20px;
        padding-right: 40px;
    }
     a {
        line-height: 3em;
        font-size: 15px;
    }
    header img {
        padding-left: 0;
    }
    .head {
        display: block;
        padding-top: 20px;
        text-align: center;
        line-height: 20px;
    }
    .head h1 {
        padding-top: 20px;
        padding-left: 0px;
        font-size: 20px;
    }
    nav    {
        padding-top: 20px;
        padding: 25px;
        text-align: center;
    }
    p {
        padding-top: 10px;
        font-size: 15px;
    }
    nav a {
        padding: 10px;
        font-size: 15px;
    }
  }

  
/* Body Section */

.parallax {
    /* The image used */
    background-image: url("images/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg");
  
    /* Set a specific height */
    height: 85vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    padding: 10vh;
  }
  
  .content {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 45vh;
    text-align: left;
    padding: 10vh;
  }

  .content h1 {
      text-align: center;
  }

  p {
      padding-top: 20px;
      font-size: 20px;
  }

  @media only screen and (min-width:510px) and (max-width:1100px) {
    /* For tablets: */
    .parallax {
        height: 77.5vh;
    }
    .container {
        padding: 5vh;
    }
    .content {
        padding-top: 50px;
        height: 65vh;
        padding: 20px;
    }

    .content p {
        font-size: 25px;
    }
  }

  @media only screen and (min-width:300px) and (max-width:400px) {
    .container {
        padding: 3vh;
    }
    .content {
        padding: 10px;
        height: 184vh;
    }
    .content p {
        font-size: 18px;
    }
    .parallax {
        height: 193vh;
    }
  }

  @media only screen and (min-width:410px) and (max-width:500px) {
    /* For mobile phones: */
    .container {
        padding: 3vh;
        padding-bottom: 46px;
    }
    .content {
        padding: 10px;
        height: 82vh;
    }
    .parallax {
        height: 92vh;
    }
    .content h1 {
        font-size: 25px;
    }
    .content p {
        font-size: 14px;
        padding-top: 5px;
    }
}
  /* Footer Section */

footer  {
    background-color: rgb(65, 55, 44);
    text-align: center;
    font-family: sans-serif;
    color: aliceblue;
    padding: 30px;
}

@media only screen and (min-width:390px) and (max-width:500px) {
    /* For mobile phones: */
    footer  {
        background-color: rgb(65, 55, 44);
        text-align: center;
        color: aliceblue;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }
}

/* Laptop sizes */

/* For 1366 Resolution */  
@media only screen   
and (min-width: 1100px)   
and (max-width: 1366px)  {
    .content {
        height: 74vh;
    }
}

@media only screen   
and (min-width: 1400px)   
and (max-width: 1650px)  {
    .content {
        height: 63vh;
        padding-top: 5vh;
    }
    .parallax {
        height: 99vh;
    }
    }

    /* Laptop sizes */

/* For 1366 Resolution */  
@media only screen   
and (min-width: 1100px)   
and (max-width: 1380px) {
    .parallax {
        height: 114vh;
    }
}
